@font-face {
  font-family: 'Inter';
  src: local(''), url('./fonts/Inter-Regular.ttf') format('truetype');
}

* {
  font-family: 'Inter';
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: normal;
}

body {
  width: 1200px;
  margin: 0 auto;
  background: #f5f5f5;
}

a {
  color: #232134;
}
